<!DOCTYPE html>
<html>
<head>
<title>Respond</title>
<style>
div.relative {
    position: relative;
    left: 400px;
}
p.big {
	line-height: 200%
}
</style>
</head>
<body>
<div class="relative">
<form>
<p class="big">
<font size="4">
	Model: <input type="text" name="model" value={{model}}><br>
	Second Labels: <input type="text" name="Scored_Labels" value={{Scored_Labels}}><br>
	Second Probabilities: <input type="text" name="Second_Probabilities" value={{Second_Probabilities}}><br>
	<br>
</font>
</p>
</form>
</div>
</body>
</html>